boolean.py==5.0
CacheControl==0.14.4
certifi==2026.7.22
cfgv==3.5.0
charset-normalizer==3.5.2
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
distlib==0.4.3
filelock==4.0.10
identify==2.6.20
idna==3.20
license-expression==30.4.4
markdown-it-py==4.2.0
mdurl==0.1.2
msgpack==1.2.3
nodeenv==1.11.0
packageurl-python==0.17.6
packaging==26.3
pip-requirements-parser==32.0.1
pip_api==0.0.35
pip_audit==2.9.0
platformdirs==4.12.3
pre_commit==4.3.0
py-serializable==2.1.0
Pygments==2.21.0
pyparsing==3.3.3
python-discovery==1.6.1
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
sortedcontainers==2.4.0
toml==0.10.2
urllib3==2.8.0
virtualenv==21.14.5
